body {
  background-color: white;
  color: black;
  font-family: Verdana;
  display: flex;
  gap: 40px;
  justify-content: center;
}

img {
    max-width: 400px;
}

.column {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  gap: 40px;
  justify-content: center;
  text-align: center;
}

img {
  flex-grow: 0;
}
