body {
  background-color: white;
  color: black;
  font-family: Verdana;
  display: flex;
  gap: 40px;
  justify-content: center;
  margin: 40px 0;
}

.title {
    background-color: #3df;
    border: 1px double #53f;
    box-shadow: -4px 4px 2px #53f;
}

h1 {
    font-size: 64px;
    color: #53f;
}

img {
    max-width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  gap: 40px;
  text-align: center;
}

img {
  flex-grow: 0;
}
